.container.clearfix
    include /view/molecules/menu/bar
.container.clearfix
    .left
        include /view/molecules/menu/catalog
    .right
        include /view/molecules/menu/tool
include /view/molecules/menu/category
include /view/organisms/section/hero